@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* font-family: Inter; */
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  height: 100vh;
}

.youtube-gradient {
  background: linear-gradient(145.4deg, #FF6C96 -29.84%, #8981FE 100.45%);
  opacity: 0.8;
  filter: blur(100px);
}

.voice-gradient {
  background: linear-gradient(145.4deg, #00FF4F -29.84%, #04586F 100.45%);
  opacity: 0.8;
  filter: blur(100px);
}

.image-gradient {
  background: linear-gradient(93.57deg, #EF3A33 16.56%, #FED03C 91.12%);
  opacity: 0.8;
  filter: blur(100px);
}

.gpt-gradient {
  background: linear-gradient(145.4deg, #D0EBFF -29.84%, #0500FF 100.45%);
  opacity: 0.8;
  filter: blur(100px);
}

.youtube-button-gradient {
  background: linear-gradient(129.09deg, #F95080 13.47%, #635BDC 88.23%);
  border-radius: 8px;
}

.image-button-gradient {
  background: linear-gradient(93.57deg, #EF3A33 16.56%, #FED03C 91.12%);
  border-radius: 8px;
}

.voice-button-gradient {
  background: linear-gradient(145.4deg, #00FF4F -29.84%, #04586F 100.45%);
  border-radius: 8px;
}

.gpt-button-gradient {
  background: linear-gradient(145.4deg, #D0EBFF -29.84%, #0500FF 100.45%);
  border-radius: 8px;
}

.border-bottom {
  border-bottom: 1px solid #181818;
}

.button:hover {
  background: white;
  color: black;
}

.drop-shadow {
  filter: drop-shadow(0px 34px 36px rgba(0, 0, 0, 0.25));
}


.swiper-pagination {
  bottom: 95%;
}

.gradient-yt {
  background: linear-gradient(to right, #F95080, #635BDC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-gpt {
  background: linear-gradient(to right, #D0EBFF, #0500FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-voice {
  background: linear-gradient(to right, #00FF4F, #04586F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-image {
  background: linear-gradient(to right, #EF3A33, #FED03C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}